 
<!DOCTYPE hibernate-configuration PUBLIC    
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"    
        "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oct_batch</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Lumia@540</property>
		
		
		
	<!--optional properties for HIBERNATE  -->	
	
<!-- 	PREPARE THE QUERY BASED ON THE MAPPING INFORMATION FOR THE UNDERLINE DATABASE -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		
		<!-- TELL THE HIBERNATE TO DISPLAY THE QUERY IT HAS GENERATED INTERNALLY -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- INFORM HIBERNATE TO SHOW THE QUERY IN CONSOLE IT HAS GENERATED INTERNALLY IN PROPER FORMAT -->
		<property name="hibernate.format_sql">true</property>
		
		<!-- INFORM HIBERNATE TO CREATE/ALTER/DROP THE TABLE  -->
		<property name="hibernate.hbm2ddl.auto">update</property>
	
	
	<!-- MAPPING INFORMATION FOR HIBERNATE (CLASSNAME-TABLE), FIELDNAME-COLUMNS -->
    <mapping class="in.ineuron.model.ProgrammerProjectInfo"/>
	</session-factory>
</hibernate-configuration>  